<p> Here we will login </p>

<form action = '/login' method = 'post'>

<label>Username</label>
<input name = "user_name" type='text' value= "">

<label>Password</label>
<input name = "password" type='password' value= "">

<input type ='submit' value= "Log In" class= 'button'>

</form>

<a href="/signup">Sign Up!</a>
