<p> Sign Up </p>

<form action='/users/new' method='post'>
  <label>First Name </label>
  <input name="user[first_name]" type="text" value="">

  <label>Last Name </label>
  <input name= "user[last_name]" type="text" value="">

  <label>Location </label>
  <input name= "user[location]" type="text" value="">

  <label>Email </label>
  <input name="user[email]" type="text" value="">

  <label>Username </label>
  <input name="user[user_name]" type="text" value="">

  <label>Password </label>
  <input  name="user[password]" type="password" value="">

  <!-- <label>Retype Password </label>
  <input name="password_check" type="text" value=""> -->

  <input type='submit' value='Sign Up' class='button'>
</form>
